.layout-item {
  height: 500px;
}
img {
  max-width: 100%;
  display: block;
}
.layout {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 40px;
}
.layout-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
header {
  /* grid-area: header; */
  grid-column: 1 /4;
  grid-row: 1 / 2;
  background-color: turquoise;
}

nav {
  /* grid-area: nav; */
  margin-left: 0.5rem;
  grid-column: 1 / 2;
  grid-row: 2 /3;
  background-color: antiquewhite;
}

main {
  grid-area: content;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

aside {
  /* grid-area: side; */
  margin-right: 0.5rem;
  background-color: aquamarine;
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}

footer {
  /* grid-area: footer; */
  grid-column: 1 / 4;
  grid-row: 3 /4;
  background-color: beige;
}

.container {
  display: grid;
  /* grid-template-areas:
    "header header header"
    "nav content side"
    "footer footer footer"; */

  grid-template-columns: 200px 1fr 200px;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 10px;
  height: 100vh;
}

@media (max-width: 768px) {
  .container {
    grid-template-areas:
      "header"
      "nav"
      "content"
      "side"
      "footer";

    grid-template-columns: 1fr;
    grid-template-rows:
      auto /* Header */
      minmax(75px, auto) /* Nav */
      1fr /* Content */
      minmax(75px, auto) /* Sidebar */
      auto; /* Footer */
  }

  nav, aside {
    margin: 0;
  }
}